altair
certifi
click
cycler
fonttools
folium
geopandas
gitdb
gitpython
kiwisolver
Markdown
matplotlib
numpy
openpyxl
pandas
plotly
protobuf
pyarrow
pyparsing
python-dateutil
requests
seaborn
streamlit_folium
smmap
streamlit
tenacity
toml
toolz
tornado
tzdata
urllib3
